.modal-backdrop-change {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#0D1526;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* For Safari and other WebKit-based browsers */
    z-index: 10;
  }
  

.modal-content-settings-change {
   
    margin: 11% auto;
    padding: 20px;
    max-width: 598px;
 
    width: 20vw;
    height: 43vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 30px;
    background: linear-gradient(145deg, rgba(13, 21, 38, 1),rgba(22, 89, 83, 1));
    box-shadow:   5px 5px 10px rgba(13, 21, 38, 1),
                  -5px -5px 10px rgba(22, 89, 83, 1);
}
    .New-infos {
        grid-area: 1 / 1 / 2 / 2; 
        border-radius: 12px;
        outline: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.5fr 0.1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .choosename {
        grid-area: 1 / 1 / 2 / 2;
        margin-left: 31%;
        width: fit-content;
        height: fit-content;
        background:rgba(29, 242, 182, 1);
        border-radius: 5px;
        padding: 1%
    }
    .maxlenght{
        position: absolute;
        top: 26%;
        font-size: 1.2vmin;
        left: 32%;
        color: red;
        width: fit-content;
        height: fit-content;
      }
    .chooseimg {
        grid-area: 3 / 1 / 4 / 2;
        margin-left: 30%;
        width: fit-content;
        height: fit-content;
         background:rgba(29, 242, 182, 1);
        border-radius: 5px;
        padding: 1%
    }
    .newname {
        grid-area: 2 / 1 / 3 / 2;
        width: 65%;
        height: 33%;
        padding: 1% 3% 1% 3%;
        border-radius: 12px;
        background: rgba(29, 242, 182, 0.5);
        outline: none;
        border: 1px solid white;
        margin-left: 12%;
        margin-top: 6%;
    }

    .avatarChose {
        grid-area: 4 / 1 / 5 / 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    
    .avatimg {
        grid-area: 1 / 1 / 2 / 2;
        margin-top: 40%;
        margin-left: 13%;
      
    }
        
    .preview {
        grid-area: 1 / 2 / 2 / 3;
        margin-top: 24%;
        width: 10vmin;
        height: 10vmin;
        border-radius: 50%;
        text-align: center;
        border: 2px solid #8BD9D1;
        object-fit: cover;
        margin-left: 30%;
    }
