
.modes-list-container{
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 0.2fr 1fr;
  justify-items: center; 
  align-items: center; 
  position: relative;
  margin-top: -2vmin;
  margin-left: 6%;
}

.title-history{
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  top: 30%;
  position: absolute;
  font-size: x-large;
  color: white;
  right: 1%;
}


.mode-list {
  
  grid-area: 2 / 1 / 3 / 2; 
  position: relative;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  
}

.mode 
{
    position: relative;
    height: 20vh;
    width: 10vw;
    background-image: none;
    border-radius: 20px;
    margin: 6% 0% 0% 18%;
    border: 0.2px solid #8BD9D1;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    object-fit: cover; 
    background: linear-gradient(145deg, rgba(13, 21, 38, 1),rgba(22, 89, 83, 1));
    box-shadow:   5px 5px 10px rgba(13, 21, 38, 1),
                  -5px -5px 10px rgba(22, 89, 83, 1);
}

