.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* For Safari and other WebKit-based browsers */
  z-index: 10;
}



.modal-content-inv{

  margin: 2% auto;
  padding: 20px;
  max-width: 598px;

  width: 15vw;
  height: 40vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:repeat( 5,1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  border-radius: 30px;
  background: linear-gradient(145deg, rgba(13, 21, 38, 1),rgba(22, 89, 83, 1));
  box-shadow:   5px 5px 10px rgba(13, 21, 38, 1),
                -5px -5px 10px rgba(22, 89, 83, 1);

}

.INVIT {
  grid-area: 1 / 1 / 2 / 2;
  place-items: center;
  display: grid;
  border-bottom: solid;
  margin-top: -8%;
  font-size: 1.8vmin;
  color: white;

}
.INV-IMG{
  grid-area: 2 / 1 / 3 / 2; 
  place-items: center;
  display: grid;
  width: 9vmin;
  height:  9vmin;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #8BD9D1;
  object-fit: cover;
}
.INV-NAME {
  grid-area: 3 / 1 / 4 / 2; 
  place-items: center;
  display: grid;
  font-size: 1.8vmin;
  color: white;

}
.INV-text{
  grid-area: 4 / 1 / 5 / 2;
  place-items: center;
  display: grid;
  position: absolute;
  bottom: 42%;
  font-size: 2vmin;
  color: white;
}
.butt-add-modal{
  grid-area: 5 / 1 / 6 / 2; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
}

.But-modal{
  width: 20%;
  height: 35%;
  background:rgba(29, 242, 182, 1);
  padding: 1vh 1vh 0.5vh 1vh;
  border-radius: 5px;

}

.But-modal:hover{
  cursor: pointer;
  background: rgba(29, 242, 182, 0.5);
  cursor: pointer;
  transition: 0.5s ease;
}

.submit-But-modal{
  grid-area: 1 / 2 / 2 / 3;
  color: rgb(6, 78, 6);
}

.Cancel-But-modal{
  grid-area: 1 / 1 / 2 / 2; 
  color: rgb(116, 7, 7);
}