.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
}
  


  .modal-content-room {
    background: rgb(175, 185, 185, 0.2);
    border: 1px solid #8BD9D1;
    margin: 8% auto;
    padding: 20px;
    max-width: 598px;
    border-radius: 10px;
    width: 16vw;
    height: 28vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

