.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* For Safari and other WebKit-based browsers */
  z-index: 10;
}



.modal-content-logs {

  margin: 3% auto;
  padding: 1%;
  max-width: 598px;

  width: 19vw;
  height: 43vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  border-radius: 30px;
  background: linear-gradient(145deg, rgba(13, 21, 38, 1),rgba(22, 89, 83, 1));
  box-shadow:   5px 5px 10px rgba(13, 21, 38, 1),
                -5px -5px 10px rgba(22, 89, 83, 1);
}
.no-logs{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5vmin;
  transform: translate(-50%, -50%); 
  height: fit-content;
  width: fit-content;
  padding: 3%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.bannned-container{
  
    grid-area: 1 / 1 / 2 / 2;
    overflow: hidden;
    overflow-y: auto;
    overflow-x:hidden;
    max-height: 30vh; 
    padding-top: 2vmin;
    position: relative;

}
.banned-members {
  width: 95%; 
  padding: 1% 3% 1% 1%;
  border-radius: 12px;
  outline: none;
  border: 1px solid #8BD9D1;
  height: 10vh;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
}

.But-modal {
  width: 10%;
}

.butt-cancel-logs
{
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  position: relative;
}
.Cancel-But-logs{
  color: rgb(116, 7, 7);
  position: relative;
  top: 50%;
}