


.cont {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Set the height of the container */
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;
  height: 45vh;
  border: 1px solid #8BD9D1;
  border-radius: 5px;
  background: rgb(175, 185, 185, 0.1);

}

.login-button {
  padding: 1vmin 2vmin;
  background:rgba(29, 242, 182, 1);
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  font-size: 2vmin;
  transition: background-color 1s ease;
  margin: 0vmin 0vmin 15vmin 28vmin;
  width: fit-content;
  height: fit-content;
  font-family: 'Cyber', sans-serif;

}
.login-button:hover {
  background-color: #134e27;
}

.game-title{
  color:rgba(29, 242, 182, 1);
  font-size: 7vmin;
  font-weight: bold;
  font-family: 'Cyber', sans-serif;
  margin-top: 7vmin;
}

.wfa-container
{
  background: #0D1526;
  position: relative;
}

.wfa{
  position: absolute;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: 35vw;
  height: 35vh;
  border-radius: 5px;
  border: 2px solid #8BD9D1;
}

.wfa .h11 {
  position: absolute;
  font-size: x-large;
  color: #8BD9D1;
  left: 23%;
  top: 10%;
}

.wfa .input {
  position: absolute;
  border-radius: 5px;
  border: 2px solid #8BD9D1;
  height: 2vh;
  width: 12vw;
  top: 41%;
  left: 34%;
}
.wfa > Button{
  width: fit-content;
  height: fit-content;
  top: 67%;
  left: 49%;
  position: absolute;
  padding: 1vh;
}