.group {
    position: relative;

  }
  
  .group:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  .tooltip {
    width: fit-content;
    height: fit-content;
    visibility: hidden;
    font-size: 2vmin;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #000000;; 
    background-color:  #ffffff;; 
    padding: 1vmin 1vmin; 
    border-radius: 4px; 
    position: absolute;
    top: calc(80% + 2px); 
    left: 50%; 
    transform: translateX(-50%);
    white-space: nowrap; 
    z-index: 1000;
  }
  