
.discussionrooms{
    overflow: hidden;
}
.roomsContainer {
    grid-area: 3 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
    position: relative;
}
.joined_room {
    grid-area: 1 / 1 / 2 / 2;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 34vh; 
  
}
.room-type {
    grid-area: 1 / 3 / 2 / 4;
    display: grid;
    place-items: center;
    width: fit-content;
    height: fit-content;
    background: #b3d6d3;

    padding: 0.2vmin 0.3vmin 0.2vmin 0.3vmin;
    border-radius: 5px;
    font-size: 1.5vmin;
    margin-right: 40%;
}
.room-notifications{
    position: absolute;
    width: fit-content;
    height: fit-content;
    background: rgb(172, 6, 6);
    border-radius: 50%;
    font-size: 1.2vmin;
    padding: 0.4vmin 0.7vmin 0.4vmin 0.7vmin;
    top: 4%;
    left: 93%;
    color: white;
}
.join-room{
    grid-area: 1 / 3 / 2 / 4; 
    display: grid;
    place-items: center;
    width: fit-content;
    height: fit-content;
    background: #8BD9D1;
    padding: 3px 7px 3px 7px;

    border-radius: 5px;
    font-size: 1.5vmin;
}
.notjoined_room {
    grid-area: 2 / 1 / 3 / 2;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 34vh; 
    padding: 0% 3% 0% 0%;
    height: 30vh;
}

.notjoind-title{
    width: fit-content;
    height: fit-content;
    margin: auto;
    color: white;
    padding: 3%;
    font-size: 2vmin;
    letter-spacing: 1px;
}