.amis-image 
{
    grid-area: 1 / 1 / 2 / 2; 
    display: grid;
    place-items: center;
    position: relative;
}

.amis-image img 
{
    position: absolute;
    width: 5vmin;
    height: 5vmin;
    border-radius: 50%; /* Make it a circle */
    border: 2px solid #418C55;
    overflow: hidden;
    object-fit: cover;
}


.on {
    position: absolute;
    width: 1.3vmin;
    height: 1.3vmin;
    border-radius: 50%;
    background-color: green;
    bottom: 2.3vmin;
    right: 2vmin;
}
.ingame{
    position: absolute;
    width: 1.3vmin;
    height: 1.3vmin;
    border-radius: 50%;
    background-color: rgb(16, 99, 207);
    bottom: 2.3vmin;
    right: 2vmin;
}
.off {
    position: absolute;
    width: 1.3vmin;
    height: 1.3vmin;
    border-radius: 50%;
    background-color: red;
    bottom: 2.3vmin;
    right: 2vmin;
}
.amis-infos
{
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
}

.amis-name {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    top: 50%;
    color: white;
    font-size: 1.5vmin;
}


.last-message {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 1.8vmin;
    color: rgb(158, 149, 149);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.amis-notifications {
    grid-area: 1 / 3 / 2 / 4;
    display: grid;
    place-items: center;
    width: fit-content;
    height: fit-content;
    background: rgb(172, 6, 6);
    padding: 0.5vmin 0.9vmin;
    border-radius: 5px;
    border-radius: 50%;
    color: white;
    font-size: 1.4vmin;
}


