
.control{
    position: relative;
    background-color: rgb(8, 8, 83);
}

.template{
    width: 25%;
    height: 25%;
    position: absolute;
    left: 20%;
    z-index : 1
}

#back-ground{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;

}