
.menuB {
    grid-area: 1 / 1 / 2 / 2;
    font-family: "Inter", sans-serif;
    line-height: 3.5;
    min-height: 100vh;
    position: relative;

}

.Menu-container {
    position: absolute;
    text-align: center;
	  background-color:rgba(22, 89, 83, 0.3);;
    display: flex;
    flex-direction: column;
	  box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
    height: 82%;
    width: 30%;
    left: 10%;
    top: 7%;
    padding-bottom: 5px;
    border-radius: 5px;
    justify-content: center;
     align-items: center;
}

.logo > img {
    position: relative;
    bottom: 30%;
}



.icons-cont {
    display: flex;
    flex-direction: column;
    gap: 1vmin;
    
}

.icon {
   
    color: #FFF;
	  font-size: medium;
    width: 2vmin;
    height: auto;
    padding: 1vmin 2vmin 1vmin 2vmin;
    border-radius: 5px;
}

.icon:hover {
    background: rgba(29, 242, 182, 0.5);
    transition: 1s ease;
    cursor: pointer;
}




.modal-content-twfa{
  background: rgb(175, 185, 185, 0.2);
  border: 1px solid #8BD9D1;
  margin: 2% auto;
  padding: 20px;
  max-width: 598px;
  border-radius: 10px;
  width: 20vw;
  height: 43vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}
/* ///modal/// */

.modal-content-twfa .close{
  position: absolute;
  left: 47%;

}

.modal-content-twfa > h1{
  font-size: 3vmin;
  position: absolute;
  top: 10%;
  left: 15%;
  color: white;
}

.enable{
  color: white;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 24%;
  left: 39%;
  padding: 0.5vmin;
  background: rgb(4, 53, 53);
  border: 1px solid #8BD9D1;
  border-radius: 5px;
  font-size: 2vmin;
}
.enable:hover {

  background: rgb(36, 185, 185);
  cursor: pointer;
  transition: 1s ease;
}

.Qr {
  width: 7vw;
  height: 13vh;
  position: absolute;
  top: 39%;
  left: 34%;
}

.close {
  color: #ffffff;
  font-size:3vmin;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
}
  
  .close:hover,
  .close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }
  
  .input-code
  {
    position: absolute;
    width: 55%;
    height: 6%;
    top: 75%;
    left: 22%;
    border-radius: 5px;
    border: 1px solid #8BD9D1;
    background: rgb(4, 53, 53);
    color: #ffffff;
  }
  
 .saveBut{
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 87%;
  left: 44%;
  padding: 0.5vmin;
  background: rgb(4, 53, 53);
  border: 1px solid #8BD9D1;
  border-radius: 5px;
  color: white;
  font-size: 2vmin;

 }
 .saveBut:hover {

  background: rgb(36, 185, 185);
  cursor: pointer;
  transition: 1s ease;
}