.inputPart {
    grid-area: 3 / 1 / 4 / 2;
    position: relative;
    background: rgba(29, 242, 182, 1);
    border-radius: 12px;
    padding: 0px 1vmin;
    width: 90%;
    margin-top: -15px;
    min-height: 6vh;
    height: 10%;
    border: 2px solid white;
}

.inputPart__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

}

.inputPart .send-message-button {
    background: rgb(15, 14, 14);
    height: 4vmin;
    width: 4vmin;
    min-width: 4vmin;
    border-radius: 50%;
    transition: 0.3s ease;
    position: relative;
    cursor: pointer;
    border: 0;
    outline: none;
    cursor: pointer;
}
  
.inputPart__input {
    width: 100%;
    height: 100%;
    outline: none;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 1.5vmin;
    background: transparent;
    border: 0;
    font-family: "Lato", sans-serif;
    resize: none;
}

.send-message-button svg {
    stroke: #F9F9F9;
	fill: #FFF;
	width: 50%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    margin: 1px -1px;
}

 
