.chat-container {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: #0D1526;
    overflow: hidden;
}

.chat {
    grid-area: 1 / 2 / 2 / 3; 
    display: grid;
    grid-template-columns: 0.4fr 0.8fr 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

  
.OtherProfile {
    position: relative;
    grid-area: 1 / 3 / 2 / 4;
    display: grid;
    width: 21vw;
    height: 90vh;
    margin: 7vmin 0vmin 0vmin 7.5vmin;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.2fr 0.1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.29);
}
